#nav-container {
  width: 100%;
  margin-left: auto;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  margin-left:-20px;
  z-index: 9999;

}

#nav-sticky {
  position: sticky;
  top: 0;
}

#nav-toggle {
  display: block;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transform: rotate(0deg);
  
}

#nav-toggle span {
  background-color: black;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  display: block;
  position: absolute;
  left: 0;
  content: "";
  transition: 0.5s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 4px;
  transform-origin: left center;
}

#nav-toggle span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

#nav-toggle span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

#nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
  background-color: #fff;
}

#nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 17px;
  left: 4px;
  background-color: #fff;
}

#nav-overlay {
  position: absolute;
  width: 100%;
  top: 13px;
  left: -4px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transition: 1s;
  transform: scale3d(0, 0, 0);
  transform-origin: right;
}

#nav-overlay.open {
  transform: scale3d(1, 1, 1);
}

#nav-fullscreen {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: ease-in-out 0.25s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
  
  
}
#nav-fullscreen ul {
  list-style: none;
}
#nav-fullscreen ul li {
  height: 18vw;
}
#nav-fullscreen a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1vw;
}

#nav-fullscreen.open {
  visibility: visible;
  opacity: 1;
  transition: ease-in-out 0.5s;
  transition-delay: 0.25s;
}


*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


#nav-overlay {
  background: linear-gradient(90deg, #3ddafb 40%, #1a74ea 100%);
  position: fixed;
}

#nav-toggle span {
  background-color: #000;
}

#nav-fullscreen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  font-size: 10vh;
}
#nav-fullscreen h1 {
  position: absolute;
  font-size: 5.6vw;
  letter-spacing: 1vw;
  color: var(--font-color-whiete);
  top: 43px;
  left: 5%;
}

.right-arrow {
  width: 30px;
}
.right-arrow {
  color: #fff;
  position: relative;
  top: calc(50% - 2px);
  right: 5px;
  width: 14px;
  height: 14px;
  border-top: solid 3px;
  border-right: solid 3px;
  transform: rotate(45deg);

  
}

