.shareholder_top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}
.shareholder_top h1 {
    letter-spacing: 6px;
    margin-top: 90%;
    font-size: 3.5vw;
}
.sp .shareholder_top h1 {
    margin-top: -1%;
    font-size: 7vw;
}
.shareholder_top .en_title {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2vw;
}
.sp .shareholder_top .en_title  {
    font-size: 3vw;
}
.shareholder_top img {
    width: 43%;
}
.sp .shareholder_top img {
    width: 100%;
    margin-top: 20%;
}
.sp .shareholder_top  {
    margin-bottom: 15%;
}
.shareholder_top_content {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.sp .shareholder_top_content {
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.shareholder_content_parent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content_title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    letter-spacing: 3px;
}
.content_title h2 {
    margin-left: 22px;
}
.sp .content_title h2 {
    margin-left: 10px;
}

.shareholder_content {
    width: 75%;
    margin-top: 5%;
}
.sp .shareholder_content {
    width: 87%;
    margin-top: 7%;
}
.content_title img {
    width: 50px;
    height: auto;
}
.sp .content_title h2 {
    font-size: 4vw;
}
.sp .content_title img {
    width: 24px;
}
.content_txt {
    margin-top: 3%;
    letter-spacing: 3px;
    font-size: 1.35vw;
    line-height: 35px;
}
.sp .content_txt {
    letter-spacing: 1px;
    font-size: 2.7vw;
    line-height: 5vw;
    margin-top: 6%;
} 
.Recruit {
    margin: 8% 5.5%;   
}
.sp .Recruit {
    margin: 12% 5.5%;   
} 

.content_img {
    width: 75%;
    margin-top: 4%;
}
.sp .content_img {
    width: 87%;
}
.shareholder_content_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
}
.shareholder_content_1 img {
    width: 48%;
    max-width: 350px;
}
.shareholder_content_1 p {
    font-weight: bold;
    font-size: 4vw;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
}
.sp .shareholder_content_1 p {

}
.shareholder_content_2 {
    width: 75%;
}
.shareholder_content_2 .images_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4%;
    padding-top: 3%;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-top: 5%;
}
.shareholder_content_2 .images_parent p {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.3vw;
}
.sp .shareholder_content_2 .images_parent p  {
    font-size: 15px;
}
.shareholder_content_2 .images_parent .images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.shareholder_content_2 .images_parent .images img {
    padding: 0px 20px;
}
.sp .shareholder_content_2 .images_parent .images img {
    width: 50%;
} 
.shareholder_content_2 .txt {
    margin-top: 5%;
    letter-spacing: 0.3vw;
    font-size: 1.2vw;
}
.sp .shareholder_content_2 .txt {
    font-size: 14px;
}

.shareholder_content_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}
.shareholder_content_3 img {
    width: 15%;
    margin: 1% 30%;
}
.sp .shareholder_content_3 img{
    width: 30%;
}
.shareholder_content_3 p {
    width: 100%;
    text-align: center;
}
.shareholder_content_3 .name {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.5vw;
}
.sp .shareholder_content_3 .name {
    font-size: 17px;
}
.shareholder_content_3 .position {
    font-size: 1.2vw;
}
.sp .shareholder_content_3 .position {
    font-size: 15px;
}

.shareholder_content_3 .txt {
    width: 75%;
    margin-top: 5%;
    letter-spacing: 0.3vw;
    font-size: 1.2vw;
    text-align: left;
    margin-bottom: 3%;
}
.sp .shareholder_content_3 .txt {
    font-size: 14px;
}